/* THE TOP SECTION OF PROFILE STYLES */
.main {
  padding-block: 0.8rem;
}

.mainpp__fig {
  padding-block: 0.3rem 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.mainpp__img {
  width: min(100%, 10rem);
  border-radius: 1.8rem;
  border: 1px solid var(--accent);
}

.mainpp__caution {
  font-size: 0.9rem;
  padding-bottom: 0.5rem;
}

.no__item {
  width: 100%;
  height: 8rem;
  background: color-mix(in srgb, var(--primary) 10%, transparent 70%);
  padding: 0.8rem;
  border-radius: 0.5rem;
  display: grid;
  place-content: center;
  font-size: 0.9rem;
  font-weight: 600;
}

.update__profile--btn {
  width: min(100%, 10rem);
  padding: 0.5rem 1.5rem;
  font-weight: 700;
  border-radius: 1.5rem;
  transition: 0.5s;
}

.profile__preview {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100dvh;
  display: none;
  place-items: center;
  background: color-mix(in srgb, var(--primary) 20%, transparent 80%);
  backdrop-filter: blur(5px);
}

.profile__preview.active {
  display: grid;
}

.preview__window {
  border: 1px solid color-mix(in srgb, var(--primary) 40%, transparent 80%);
  padding: 0.8rem;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background: var(--back);
  width: min(80%, 20rem);
}

.preview__window img {
  width: 100%;
  aspect-ratio: 1/1;
  object-fit: contain;
  border: 1px solid color-mix(in srgb, var(--primary) 40%, transparent 80%);
  padding: 0.8rem;
  border-radius: 0.8rem;
}

.btn__wrapper {
  display: flex;
  gap: 0.5rem;
}

.preview__btn {
  padding: 0.5rem;
  width: 100%;
  border-radius: 1.5rem;
  transition: 0.5s;
}

.upload__canceler {
  background: none;
  color: var(--accent);
  outline: 2px solid var(--accent);
  outline-offset: -2px;
  font-weight: 600;
}

/* PROFILE TEXTS UPDATER SECTION STYLES */
.profile__form {
  border: 1px solid color-mix(in srgb, var(--primary) 20%, transparent 80%);
  width: min(100%, 30rem);
  border-radius: 0.8rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.input__wrapper {
  display: flex;
  flex-direction: column;
}

.input__wrapper label {
  font-size: 0.8rem;
  font-weight: 600;
}

.mainpp__input {
  padding: 0.3rem 0.5rem;
  border: none;
  border-bottom: 2px solid var(--accent);
  background: color-mix(in srgb, var(--primary) 10%, transparent 80%);
}

.submit__btn {
  padding: 0.5rem;
  font-weight: 600;
  border-radius: 1.5rem;
  transition: 0.5s;
}

/* ABOUT SECTION STYLES */
.main__about {
  padding-top: 0.8rem;
}

.about__title,
.skills__title {
  font-size: 1.2rem;
  opacity: 0.9;
}

.about__txt {
  padding-block: 0.5rem;
  font-size: 0.9rem;
  font-weight: 500;
  line-height: 1.2rem;
  width: min(100%, 40rem);
}

.about__form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: min(100%, 40rem);
  padding-block: 0.8rem;
}

.about__input {
  resize: none;
  height: 15rem;
  border-radius: 0.8rem;
  padding: 0.8rem;
  border: 1px solid color-mix(in srgb, var(--primary) 20%, transparent 80%);
  transition: 0.5s;
}

.about__input:focus {
  border-color: var(--primary);
  outline: none;
}

.about__submit {
  padding: 0.5rem 3rem;
  align-self: center;
  font-weight: 700;
  border-radius: 1.5rem;
  width: max-content;
  transition: 0.5s;
}

/* SKILLS SECTION STYLES */
.skill__title {
  font-size: 1rem;
  opacity: 0.8;
  padding-block: 0.5rem;
}

.skills__list {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
}

.skill__item {
  border: 1px solid color-mix(in srgb, var(--primary) 30%, transparent 70%);
  width: 12rem;
  border-radius: 0.8rem;
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.skill__name {
  font-size: 1.2rem;
  font-weight: 700;
}

.skill__description {
  font-size: 0.8rem;
}

.skill__prog {
  font-size: 0.8rem;
  font-weight: 700;

  padding-bottom: 0.3rem;
  display: flex;
  justify-content: space-between;
}

.input__wrapper--skill {
  width: min(100%, 15rem);
  display: flex;
  flex-direction: column;
}

.input__label {
  font-size: 0.9rem;
  font-weight: 600;
}

.skill__input {
  padding: 0.3rem 0.5rem;
  border: none;
  border-bottom: 2px solid var(--primary);
  background: color-mix(in srgb, var(--primary) 10%, transparent 90%);
}

.uploaded__file {
  display: none;
  align-items: start;
  border: 2px solid var(--primary);
  border-radius: 0.3rem;
  padding: 0.3rem;
}

.uploaded__file.active {
  display: flex;
}

.uploaded__file i {
  font-size: 2rem;
}

.uploaded__file .name {
  font-size: 1rem;
  font-weight: 700;
}

.prog__div {
  width: 100%;
  height: 0.5rem;
  background: color-mix(in srgb, var(--primary) 30%, transparent 70%);
  border-radius: 0.8rem;
  position: relative;
  overflow: hidden;
}

.prog__div::before {
  content: "";
  width: var(--i);
  height: 100%;
  background: var(--primary);
  position: absolute;
  top: 0;
  border-radius: 0.8rem;
  left: 0;
}

.skill__btns {
  display: flex;
  justify-content: end;
}

.skill__btn {
  padding: 0.3rem 0.8rem;
  border-radius: 1.5rem;
  transition: 0.5s;
}

.add__btn {
  padding: 0.5rem 1.5rem;
  font-weight: 600;
  border-radius: 1.5rem;
  transition: 0.5s;
  margin-top: 0.5rem;
}

.item__portifolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  padding-top: 0.8rem;
}

.item__portifolio .txt {
  font-size: 0.9rem;
  font-weight: 600;
}

.portfolios__link a {
  color: var(--accent);
  font-weight: 600;
  padding-bottom: 0.2rem;
  border-bottom: 2px solid var(--accent);
  transition: 0.5s;
  display: inline-block;
}

.portfolios__link a:hover {
  scale: 105%;
}

.itempp__btn {
  border-radius: 1.5rem;
  padding: 0.5rem 1.5rem;
  transition: 0.5s;
}
