.header__nav {
  width: max-content;
} 

/* HERO SECTION STYLE */
.hero {
  padding: 0.8rem;
  position: relative;
  background: var(--primary);
}

.hero__wrapper {
  max-width: 58rem;
  margin-inline: auto;
  gap: 1rem;
  padding-block: 2rem;
}

.hero__title {
  text-align: center;
  font-size: clamp(2.2rem, 11vw, 4rem);
  color: var(--back);
  margin-inline: auto;
}

.hero__desc {
  color: var(--back);
  text-align: center;
  margin-inline: auto;
  max-width: 30rem;
  opacity: 0.8;
}

/* STORY SECTION STYLES */
.story {
  padding: 0.8rem;
}

.story__wrapper {
  max-width: 80rem;
  margin-inline: auto;
}

.story__title {
  font-weight: 700;
  font-size: clamp(2rem, 8vw, 3rem);
  text-align: center;
  max-width: 80rem;
  margin-inline: auto;
  padding-block: 1rem;
}

.story__desc {
  padding-bottom: 1.5rem;
  font-weight: 500;
  opacity: 0.8;
  text-align: center;
  max-width: 40rem;
  margin-inline: auto;
}

@media (min-width: 45rem) {
  .story__title,
  .story__desc {
    text-align: start;
    margin-inline: 0;
    max-width: 100%;
  }
}

/* MISSION AND VISSION STYLES */
.mission {
  padding: 0.8rem;
}

.mission__h2 {
  font-weight: 700;
  font-size: clamp(2rem, 8vw, 3rem);
  text-align: center;
  max-width: 80rem;
  margin-inline: auto;
  padding-bottom: 1.5rem;
}

.mission__wrapper {
  max-width: 56rem;
  display: flex;
  margin-inline: auto;
  flex-direction: column;
  gap: 0.8rem;
}

@media (min-width: 40rem) {
  .mission__wrapper {
    flex-direction: row;
  }
}

.mission__section {
  border: 1px solid var(--primary);
  padding: 0.8rem;
  border-radius: 0.8rem;
}

/* OFFER SECTION STYLES */
.offers {
  padding: 3rem 0.8rem;
  position: relative;
  background: linear-gradient(
    var(--back),
    transparent,
    transparent,
    var(--back)
  );
}

.offers::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: url(../images/bg-smooth-2.webp) center / cover;
  top: 0;
  left: 0;
  z-index: -1;
  opacity: 0.4;
}

.offers__wrapper {
  max-width: 80rem;
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.offers__title {
  font-weight: 700;
  font-size: clamp(2rem, 8vw, 3rem);
  text-align: center;
  max-width: 80rem;
  margin-inline: auto;
}

.offers__desc {
  padding-bottom: 1.5rem;
  font-weight: 500;
  opacity: 0.8;
  text-align: center;
  max-width: 40rem;
  margin-inline: auto;
}

.offers__list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: relative;
}

.offers__item {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.5rem;
  position: relative;
  width: min(100%, 25rem);
}

.offer__icon {
  display: grid;
  place-content: center;
  min-width: 3rem;
  height: 3rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 0.5rem color-mix(in srgb, var(--primary) 20%, #fff0 80%);
}

.offer__icon i {
  font-size: 1.5rem;
}

.offers__div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1rem;
}

.offer__title {
  font-weight: 500;
}

.offer__desc {
  opacity: 0.6;
}

/* TEAM SECTION STYLES */
.team {
  padding: 0.8rem;
}

.team__wrapper {
  max-width: 80rem;
  margin-inline: auto;
}

.team__title {
  font-weight: 700;
  font-size: clamp(2rem, 8vw, 3rem);
  text-align: center;
  margin-inline: auto;
  padding-bottom: 2rem;
}

.team__list {
  display: grid;
  place-content: center;
  place-items: center;
  gap: 2.8rem;
}

@media (min-width: 40rem) {
  .team__list {
    grid-template-columns: repeat(2, 1fr);
    width: 35rem;
    margin-inline: auto;
  }
}

@media (min-width: 64rem) {
  .team__list {
    grid-template-columns: repeat(3, 1fr);
    width: 55rem;
    margin-inline: auto;
  }
}

@media (min-width: 75rem) {
  .team__list {
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    margin-inline: auto;
    gap: 0.8rem;
  }
}

.team__item {
  width: min(100%, 16rem);
}

.team__img {
  width: 100%;
  aspect-ratio: 1/1.25;
  object-fit: cover;
  object-position: center;
  border: 1px solid var(--accent);
  border-radius: 0.8rem;
}

.team__name {
  font-size: 1rem;
  text-align: center;
  padding-block: 0.7rem 0;
  font-weight: 500;
  opacity: 0.8;
}

.team__desc {
  text-align: center;
  font-weight: 700;
  font-size: 1.2rem;
}

/* CTA SECTION STYLES */
.cta {
  padding: 2.5rem 0.8rem;
}

.cta__title {
  font-size: clamp(1.5rem, 6vw, 2rem);
  padding: 0.8rem;
  text-align: center;
}

.cta__desc {
  max-width: 25rem;
  margin-inline: auto;
  text-align: center;
  padding-bottom: 1rem;
}

.cta__btns {
  display: flex;
  justify-content: center;
}

.cta__section__btn {
  border-radius: 1.2rem;
  display: grid;
  place-content: center;
  transition: 0.5s;
}

.cta__section__btn:hover {
  box-shadow: 0 0 0.5rem 0.1rem var(--accent);
  scale: 1.05;
}

.cta__section__btn a {
  display: inline-block;
  padding: 0.35rem 2rem;
  color: var(--back);
  font-weight: 600;
  font-size: 1rem;
}

@media (min-width: 40rem) {
  .footer__wrapper {
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
  }
}
