
/* FOOTER SECTION STYLES */
.footer {
  background: var(--primary);
  padding: 2rem 0.8rem;
}

.footer__wrapper {
  max-width: 80rem;
  margin-inline: auto;
  display: grid;
  place-content: center;
  gap: 1rem;
}

@media (min-width: 30rem) {
  .footer__wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 40rem) {
  .footer__wrapper {
    grid-template-columns: repeat(4, 1fr);
  }
}

.worker__title {
  font-size: 1rem;
  color: var(--back);
}

.worker__list {
  padding: 0.5rem;
}

.worker__item a {
  color: var(--back);
  opacity: 0.8;
  font-size: 0.9rem;
  transition: 0.5s;
  position: relative;
  display: inline-block;
  padding-bottom: 0.3rem;
}

.worker__item a::before {
  content: "";
  width: 100%;
  height: 0.1rem;
  background: var(--back);
  transform: scaleX(0);
  transition: 0.5s;
  position: absolute;
  transform-origin: left;
  bottom: 0;
  left: 0;
}

.worker__item a:hover {
  opacity: 1;
}

.worker__item a:hover::before {
  transform: scaleX(1);
}

.socials__list {
  display: flex;
  justify-content: center;
  padding-block: 1rem;
  gap: 0.8rem;
}

.socials__item .footer__icon {
  color: var(--back);
  display: inline-block;
  transition: 0.5s;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.3rem;
  border-radius: 50%;
  opacity: 0.7;
}

.socials__item .footer__icon:hover {
  translate: 0 -0.9rem;
  opacity: 1;
}

.footer__copy {
  max-width: 30rem;
  margin-inline: auto;
}

.footer__name {
  color: var(--back);
  text-align: center;
  font-size: 1.5rem;
  padding-block: 0.8rem;
}

.footer__copy__text {
  color: var(--back);
  text-align: center;
  font-size: 0.9rem;
  opacity: 0.7;
  padding-bottom: 1rem;
}

.footer__year {
  color: var(--back);
}
