/* RESET FOR THE NAV BAR FOR RESEY.CSS FILE */
.other {
  width: 100%;
}

#app {
  padding: 0.8rem 0.8rem 0 0.8rem;
  max-width: 90rem;
  margin-inline: auto;
}

.header {
  padding: 0;
  top: 0.8rem;
}

.footer {
  margin-top: 0.8rem;
}

.aside__nav {
  width: 15.625rem;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  box-shadow: 0 0 0.2rem color-mix(in srgb, var(--primary) 30%, transparent 70%);
}

@media (min-width: 40rem) {
  .menu {
    display: flex;
  }
}

@media (min-width: 50rem) {
  .menu {
    display: none;
  }

  .aside__nav {
    position: sticky;
    top: 0.8rem;
    border-radius: 0.8rem;
    height: calc(100dvh - 2rem);
  }

  #app {
    display: flex;
    gap: 0.8rem;
  }
}

/* THE TOP PROFILE SECTION OF THE ASIDE  */
.aside__profile {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.aside__pp {
  width: 2.2rem;
  border-radius: 50%;
  box-shadow: 0 0 0.1rem 0.1rem
    color-mix(in srgb, var(--accent) 30%, transparent 70%);
}

.aside__acc {
  line-height: 1rem;
}

.aside__uname {
  font-size: 0.9rem;
}

.aside__email {
  font-size: 0.8rem;
  opacity: 0.8;
  font-weight: 500;
  width: 100%;
  max-width: calc(15.625rem - 4.5rem);
  overflow: hidden;
  text-overflow: ellipsis;
}

/* RESET FOR LIST OF LINKS */
.aside__list {
  gap: 0.8rem;
  padding-left: 1.5rem;
  height: 100%;
}

.aside__link {
  display: inline-block;
  background: color-mix(in srgb, var(--accent) 3%, transparent 70%);
  padding: 0.3rem;
  width: 100%;
}

.aside__link::before {
  width: 0.125rem;
  height: 100%;
  bottom: 0;
  left: -0.125rem;
  transform: scaleY(0);
}
