/* MAIN CONTENT STYLES */
.main {
  padding: 0.8rem;
  padding-bottom: 3rem;
  background: linear-gradient(
    var(--back),
    transparent,
    transparent,
    transparent,
    transparent,
    var(--back)
  );
  position: relative;
}

.main::before {
  content: "";
  width: 100%;
  height: 100%;
  background: url("/images/bg-smooth-1.webp") center / cover;
  position: absolute;
  inset: 0;
  z-index: -1;
}

.title {
  max-width: 80rem;
  padding-bottom: 2rem;
  margin-inline: auto;
}

.main__wrapper {
  max-width: 80rem;
  margin-inline: auto;
  display: flex;
  gap: 2rem;
}

/* FILTER SECTION STYLES */
.filters {
  position: fixed;
  background: var(--back);
  width: min(70%, 18rem);
  height: 100dvh;
  z-index: 91;
  left: -100%;
  top: 0;
  box-shadow: 0 0 0.5rem color-mix(in srgb, var(--primary) 30%, transparent 70%);
  padding: 2rem 0.8rem 0.8rem;
  overflow-y: auto;
  transition: 0.5s;
}

.filters::-webkit-scrollbar {
  display: none;
}

@media (min-width: 56rem) {
  .filters {
    position: sticky;
    padding: 0.8rem;
    min-width: 18rem;
    top: 5rem;
    height: calc(100dvh - 6.5rem);
    border-radius: 0.8rem;
    z-index: 0;
  }
}

.filters.open {
  left: 0;
}

.filter__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 0.8rem;
}

@media (min-width: 56rem) {
  .filter-x-icon,
  .filter-toggle {
    display: none;
  }
}

/* FILTER SELECT SYILES */
.filter__select {
  width: 100%;
  padding: 0.1rem 0.5rem;
  border: 1px solid color-mix(in srgb, var(--accent) 30%, transparent 70%);
  border-radius: 0.5rem;
  color: var(--primary);
  transition: 0.5s;
}

.filter__select:focus {
  outline: none;
  border-color: var(--accent);
}

/* OTHER FILTERS */
.filters__list {
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.filters__item {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.filter__list {
  padding-left: 0.8rem;
}

.filter__check {
  accent-color: var(--accent);
}

.filter__name {
  font-weight: 500;
  transition: 0.3s;
}

.filter__check:checked + .filter__name {
  color: var(--accent);
}

.client__filter {
  display: flex;
  padding: 0.2rem;
  border-radius: 1.5rem;
  background: var(--back-2);
  width: max-content;
}

.client__item {
  border-radius: 1.5rem;
  padding: 0.3rem 1.5rem;
  width: max-content;
  font-size: 0.8rem;
  font-weight: 600;
  transition: 0.5s;
}

.client__item.active {
  background: var(--accent);
  color: var(--back);
}

/* JOB LIST SECTION STYLES */
.jobs__search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.8rem;
  padding-bottom: 0.8rem;
}

.search__wrapper {
  width: 100%;
  border: 1px solid color-mix(in srgb, var(--accent) 30%, transparent 70%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--back);
  padding-right: 0.5rem;
  border-radius: 0.5rem;
  overflow: hidden;
}

.search__wrapper:has(input:focus) {
  border-color: var(--accent);
}

.search__wrapper input {
  width: 100%;
  height: 100%;
  background: none;
  border: none;
  padding: 0.3rem 0.5rem;
  font-weight: 500;
  font-size: 1rem;
}

.jobs__list {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.jobs__item {
  box-shadow: 0 0 0.2rem color-mix(in srgb, var(--primary) 30%, transparent 70%);
  background: color-mix(in srgb, var(--back) 30%, transparent 70%);
  padding: 0.8rem;
  margin-block: 0.4rem 0;
  border-radius: 0.8rem;
  transition: 0.5s;
  backdrop-filter: blur(5px);
}

.jobs__item:hover {
  background: color-mix(in srgb, var(--back) 70%, transparent 30%);
}

.job__title {
  font-size: 1.2rem;
  padding-bottom: 0.5rem;
}

.job__dates {
  columns: 2;
  width: max-content;
  column-gap: 2rem;
  column-rule: 2px solid color-mix(in srgb, var(--primary) 30%, transparent 70%);
  padding-bottom: 0.8rem;
}

.job__date {
  width: max-content;
}

.date__name {
  font-weight: 500;
}

.date__date {
  font-size: 0.8rem;
  opacity: 0.7;
  font-weight: 500;
}

.job__item {
  display: flex;
  gap: 0.5rem;
  font-weight: 600;
}

.item__name::after {
  content: ":";
}

.item__value {
  opacity: 0.8;
}

.job__description {
  padding-block: 0.8rem;
  flex-direction: column;
  gap: 0;
}

.jobs__detail {
  border-radius: 0.8rem;
  transition: 0.5s;
}

.jobs__detail--link {
  padding: 0.5rem 2rem;
  display: inline-block;
  color: var(--back);
  font-weight: 500;
}
